@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PTSans;
  src: url('/fonts/PTSans-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Pangolin;
  src: url('/fonts/Pangolin-Regular.ttf') format('truetype');
  font-weight: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: Pangolin, sans-serif;
  background-color: theme('colors.sl.bg');
}

* {
  box-sizing: border-box;
  scrollbar-color: theme('colors.sl.tile') theme('colors.sl.tile');
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f9f9;
}

::-webkit-scrollbar-thumb {
  background: theme('colors.sl.tile');
  transition: 200ms ease-in-out;
  border-radius: 10px;
}

input {
  padding: 10px;
  border-width: 1px;
  border-color: theme('colors.sl.tile');
}
